*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

:root {
  /* Font families */
  --font-family-sans: "Inter", sans-serif;
  --font-family-serif: "Lora", serif;
  --font-family-mono: "Inconsolata", monospace;
}

/* Font themes */
html[data-font="sans"] {
  --font: var(--font-family-sans);
}

html[data-font="serif"] {
  --font: var(--font-family-serif);
}

html[data-font="mono"] {
  --font: var(--font-family-mono);
}

::selection {
  background-color: var(--color-purple);
  color: var(--color-neutral-100);
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

body {
  min-height: 100vh;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Colors */
  --color-neutral-100: #fff;
  --color-neutral-200: #f4f4f4;
  --color-neutral-300: #e9e9e9;
  --color-neutral-400: #757575;
  --color-neutral-500: #3a3a3a;
  --color-neutral-600: #2d2d2d;
  --color-neutral-700: #1f1f1f;
  --color-neutral-800: #050505;
  --color-purple: #a445ed;
  --color-red: #ff5252;
  --color-placeholder: rgb(255 255 255 0.25);
  /* Font family */
  font-family: var(--font);
  /* Font sizes */
  --font-size-sm: 14px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 32px;
  --font-size-3xl: 64px;
  /* Line heights */
  --line-height-sm: 17px;
  --line-height-md: 24px;
  --line-height-lg: 29px;
  --line-height-xl: 77px;
}

.app {
  min-height: 100vh;
  padding: 24px 24px 85px;
}

  display: flex;
  align-items: center;
}

}

}
